@import url('https://fonts.googleapis.com/css2?family=MuseoModerno&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Sans&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Flex:wght@400;500;600&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;


html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", "Mono";
  scroll-behavior: smooth;
  color-scheme: dark;
  overflow-x: hidden;
}

.spinner {
  width: 56px;
  height: 56px;
  border-radius: 50%;
  border: 9px solid #030082;
  animation: spinner-bulqg1 0.8s infinite linear alternate,
    spinner-oaa3wk 1.6s infinite linear;
}

.navsha{
  border-bottom: 1px solid rgba(0, 0, 0, 0.08);
background: #FFF;
box-shadow: 0px 4px 49px 0px rgba(0, 0, 0, 0.04);
}

@keyframes spinner-bulqg1 {
  0% {
    clip-path: polygon(50% 50%, 0 0, 50% 0%, 50% 0%, 50% 0%, 50% 0%, 50% 0%);
  }

  12.5% {
    clip-path: polygon(50% 50%,
        0 0,
        50% 0%,
        100% 0%,
        100% 0%,
        100% 0%,
        100% 0%);
  }

  25% {
    clip-path: polygon(50% 50%,
        0 0,
        50% 0%,
        100% 0%,
        100% 100%,
        100% 100%,
        100% 100%);
  }

  50% {
    clip-path: polygon(50% 50%,
        0 0,
        50% 0%,
        100% 0%,
        100% 100%,
        50% 100%,
        0% 100%);
  }

  62.5% {
    clip-path: polygon(50% 50%,
        100% 0,
        100% 0%,
        100% 0%,
        100% 100%,
        50% 100%,
        0% 100%);
  }

  75% {
    clip-path: polygon(50% 50%,
        100% 100%,
        100% 100%,
        100% 100%,
        100% 100%,
        50% 100%,
        0% 100%);
  }

  100% {
    clip-path: polygon(50% 50%,
        50% 100%,
        50% 100%,
        50% 100%,
        50% 100%,
        50% 100%,
        0% 100%);
  }
}
.aboutimgs {
  background-image: url('./assets/temp/aboutimg.png');

  background-size: fill;
  /* background: linear-gradient(131deg, #000 0%, #000 10.40%, #0C0F24 25.00%, #000 66.32%, #080136 100%); */
  background-repeat: no-repeat;
}

@keyframes spinner-oaa3wk {
  0% {
    transform: scaleY(1) rotate(0deg);
  }

  49.99% {
    transform: scaleY(1) rotate(135deg);
  }

  50% {
    transform: scaleY(-1) rotate(0deg);
  }

  100% {
    transform: scaleY(-1) rotate(-135deg);
  }
}

.back {
  background: linear-gradient(131deg, #000 0%, #000 10.40%, #0C0F24 25.00%, #000 66.32%, #080136 100%);
  ;
}

.proj {
  background: linear-gradient(2deg, #000 0%, rgba(0, 0, 0, 0.00) 100%);
}

* {
  scrollbar-width: auto;
  scrollbar-color: #afb2bf;
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 3px;
}

*::-webkit-scrollbar-track {
  background: #000814;
}

*::-webkit-scrollbar-thumb {
  background-color: #afb2bf;
  border-radius: 10px;
  visibility: hidden;
}

*:active::-webkit-scrollbar-thumb,
*:focus::-webkit-scrollbar-thumb,
*:hover::-webkit-scrollbar-thumb {
  visibility: visible;
}

.select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;/* Add some padding to make space for the custom arrow */
 /* Replace #ffffff with the background color of your choice */
  
}

/* .back {
  background: #313030;
} */

.navhead {
  background: linear-gradient(101deg, #244CEC 0%, #244CEC 31.77%, #000 54.17%, #4E000E 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.authnavhead{
  background: linear-gradient(256deg, #1A0D68 0%, #0400D3 31.77%, #BBC8FF 54.17%, #454DFD 100%);
background-clip: text;
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
}

.mainhero {
  background: linear-gradient(156deg, #030082 0%, #4E0000 56.68%, #BB1A41 100%);
  border-radius: 9px;

}

.herotext{
  background: linear-gradient(42deg, #FFFFFC 0%, #9EA5FF 100%);
background-clip: text;
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
}
.herosectext{
  
background: linear-gradient(114deg, #7E7584 0%, #AF2DFF 100%);
background-clip: text;
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
}

.swiper {
  width: 100%;
  padding-top: 50px;
  padding-bottom: 50px;
}
.card{
  position: relative;
  object-fit: contain;
  width: 623px;
  height: 350px;
  cursor: pointer;
}
.card::after {
  z-index: 10;
  content: '';
  position: absolute;
  left: -20px;
  top: -5px;
  background-color: lime;
  width: calc(100% - 25px);
  height: calc(100% - 10px);
  border-top: 5px solid brown;
  border-left: 5px solid brown;
}

/* .swiper-slide {
  background-position: center;
  background-size: contain;
  width:250px;
  height: 200px;
}

.swiper-slide img {
  display: block;
  width: 100%;
  object-fit: contain;
} */

@layer utilities {

  /* Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .no-scrollbar {
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
  }
}

a {
  color: inherit;
  text-decoration: none;
}

.container {
  padding: 0 2rem;
}


@layer components {

  /* .blackButton {
  @apply cursor-pointer rounded-md bg-richblack-800 px-[20px] py-[8px] font-semibold text-richblack-5;
}*/
  /* .lable-style {
  @apply text-[14px] text-black;
}  */
  .form-label {
    @apply text-[#000000a6] font-DMSans
  }

  .lable-style {
    @apply text-[14px] text-black font-DMSans;
  }
  .form-style {
    @apply rounded-[3px] border text-black border-[#00000033] border-solid bg-white p-3 text-[16px] leading-[24px] shadow-[0_1px_0_0] shadow-white/50 placeholder:text-logplace placeholder:font-DMSans focus:outline-none focus:border-[1.5px] focus:border-icob focus:border-solid  font-DMSans ;
  }

  .inpform {
    @apply h-min px-4 py-3 my-2 w-full text-base font-DMSans ring-blue-600 bg-primary outline outline-bground outline-1 rounded-md placeholder:text-placeholder placeholder:font-DMSans placeholder:text-base
  }

  .itextarea {
    @apply h-min px-4 py-3 w-full ring-blue-600 bg-primary outline outline-bground outline-1 rounded-md placeholder:text-placeholder placeholder:font-DMSans placeholder:text-base
  }

  .mandat {
    @apply text-red-600 
  }

  .upload {
    @apply bg-primary border border-bground border-solid rounded-md p-3 mx-2
  }

  /* .section_heading {
  @apply text-2xl font-bold text-richblack-5 lg:text-4xl;
} */

}